@charset "UTF-8";
/* CSS Document */

.hidden
{
	display: none;
}

main {text-align: center;}

.container
{
  width: 48%;
  display: inline-block;
}

.container img
{
  display: block;
  width: 100%;
}

h1
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}

h2
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-top: 100px;
  color: #39D1CE;
}

p
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.icon:hover
{
  border-radius: 500px;
	box-shadow: 5px 5px 40px #525357;
}
